@media screen and (min-width: 1025px) {
    
    body{
        background-color: hsl(257, 40%, 49%);
        background-image: url(./resources/bg-desktop.svg);
        background-size: 86vw 100vh;
        background-repeat: no-repeat;
        margin: 0 auto;
        height: 100vh;
    }
    nav{
        display: flex;
        padding: 1rem;
    }
    #logo{
        width: 10vw;
        padding-left: 5vw;
        padding-top: 5vh;
    }
    main{
        display: grid;
        grid-template-areas: 
        "left right"
        "footer footer";
        justify-items: center;
        align-items: center;
        margin-top: 11vh;
    }
    .left{
        display: flex;
        justify-content: left;
        width: 58vw;
    }
    .left img{
        width: 47vw;
        padding-left: 5vw;
    }
    .right{
        grid: 2;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-right: 4rem;
    }
    .right h1{
        font-family: Poppins;
        color: white;
        font-weight: 600;
        font-size: 3vw;
        text-align: left;
        margin: 0;
    }
    .right p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 1.3vw;
        font-kerning: 2rem;
        line-height: 1.7vw;
        text-align: left;
        color: rgba(255, 255, 255, 0.575);
        margin: 0;  
        padding-left: 0;
        padding: 1rem 3rem 1rem 0;
    }
    .right button{
        background-color: white;
        border: none;
        width: 12vw;
        height: 6vh;
        border-radius: 3rem;
        margin-top: 1vh;
        box-shadow: 3px 5px 22px #0000008f;
        transition: 0.3s;
    }
    .right button:hover{
        background: hsl(300, 69%, 71%);
        transition: 0.3s;
        cursor: pointer;
    }
    footer{
        
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .author{
        grid-area: "author";
        position: absolute;
        bottom: 0;
    }
    .socials{
        grid-area: "socials";
        position: absolute;
        bottom: 5rem;
        right: 5rem;
        cursor: pointer;
    }
    .icon{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(20deg) brightness(103%) contrast(101%);
        margin: 5px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
    .icon:hover{
        filter: invert(79%) sepia(15%) saturate(6405%) hue-rotate(238deg) brightness(97%) contrast(87%);
        cursor: pointer;
    }
}


@media screen and (max-width: 1024px){
    body{
        background-color: hsl(257, 40%, 49%);
        background-image: url(./resources/bg-mobile.svg);
        background-size: 100vw ;
        background-repeat: no-repeat;
    }
    nav{
        display: flex;
        padding: 1rem;
    }
    #logo{
        width: 35vw;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .left{
        justify-content: center;
    }
    .left img{
        max-width: 80vw;
        justify-items: flex-end;
        margin-top: 2rem;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right h1{
        font-family: Poppins;
        color: white;
        font-weight: 600;
        font-size: 4fr;
        text-align: center;
        margin: 0;
    }
    .right p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 2fr;
        font-kerning: 2rem;
        line-height: 1.5rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.575);
        margin: 0;  
        padding: 1rem;
    }
    .right button{
        background-color: white;
        border: none;
        width: 14rem;
        height: 3.5rem;
        border-radius: 2rem;
        margin-top: 0.5rem;
        box-shadow: 3px 5px 22px #0000008f;
        transition: 0.3s;
    }
    .right button:hover{
        background: hsl(300, 69%, 71%);
        transition: 0.3s;
        cursor: pointer;
    }
    footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .icon{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(20deg) brightness(103%) contrast(101%);
        margin: 5px;
        width: 2rem;
        height: 2rem; 
    }
    .icon:hover{
        filter: invert(79%) sepia(15%) saturate(6405%) hue-rotate(238deg) brightness(97%) contrast(87%);
        cursor: pointer;
    }
}




